html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

#drop-area {
    border: 2px dashed #6c63ff;
    border-radius: 10px;
    width: 80%;
    height: 65%;
    padding: 20px;
    text-align: center;
    background: black;
    transition: background 0.3s;
    color: #dddddd;
    z-index: 20;
    font-weight: bold;
    font-family: 'Verdana', sans-serif;
}

#drop-area:hover {
    cursor: pointer;
    
}
#submit-button {
    background-color: #0332aa;
    padding:4px 8px;
    border-radius: 5px;
    color: white;
}

#photo-addition-enable-button:hover{
    cursor: pointer;
    border: 2px solid #0a58ca;
    scale: 105%;
}