@model IEnumerable<mvc_project.Models.Photo>

<h2>Photo Gallery</h2>

@foreach (var photo in Model)
{
    <img src="@photo.path" alt="@photo.Id" />
}


<div id="photo-addition-enable-button" style="padding: 5px; width: 40px; aspect-ratio: 1 / 1; border-radius: 50%; border: 1px solid #d8e1ed; display: flex; justify-content: center; align-items: center; font-size: 100%" onclick="togglePhotoAdditionModal()"> 
    <span style="color: black; z-index: 2">&plus;</span>
</div>

<div id="photo-addition-modal" class="visually-hidden" style="position:absolute; top:0; left: 0; width: 100vw; height: 100vh; background-color: black; opacity: 40%; display: flex; justify-content: center; align-items: center;">
    <div class="bg-white w-50 h-50" 
         style="display: flex; justify-content: center; align-items: center; position: relative;">

        <!-- Close Button -->
        <div style="position: absolute; top: 5px; right: 15px; cursor: pointer; font-size: 2.5rem;" 
             onclick="togglePhotoAdditionModal()">
            &times;
        </div>

        <form style="width: 100%; height:85%; display: flex; justify-content: space-evenly; align-items: center; flex-direction: column; gap: 5px;" action="/PhotoGallery/UploadPhoto">
        
            <!-- Custom Drop Area -->
            <div id="drop-area" onclick="document.getElementById('fileInput').click()">
                <span id="placeholder">Drag and drop your pictures here<br>or click the area to upload image</span>
                <input id="fileInput" type="file" style="width: 100%; height: 100%;" onchange="showFileName(event)">
                <div id="fileName" style="display: none;"></div>
            </div>
            <button type="submit" id="submit-button">Submit</button>
        </form>
    </div>
</div>

<script defer>
    function togglePhotoAdditionModal () {
        const photoAdditionModal = document.getElementById('photo-addition-modal');
        photoAdditionModal.classList.contains('visually-hidden') ? photoAdditionModal.classList.remove('visually-hidden') :photoAdditionModal.classList.add('visually-hidden');
    }
</script>